.student-details button {
  margin-left: auto;
  font: inherit;
  border: 3px white;
  background: #0076CE;
  color: white;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 3px;
}

.student-details button:hover,
.student-details button:active {
  background: #00447C;
  border-color: #00447C;
}



.details {
  border-color: blue;
  border-radius: "8px";
}
